@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eroor</title>
</head>
<body>
    <div>
        <h3>You have failed to enter a valid input for the number of seats. The value must be an integer between 0 and the number of seats available for the chosen class. We are sorry for the inconvenience.</h3>
        <a href="~/Flights">Back to Flights</a>
    </div>
</body>
</html>
