@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CapacityError</title>
</head>
<body>
    <h2>You have changed the capacity to a number smaller than the # of seats that have already been booked, please try again.</h2>
    <a href="~/Flights/">Go back to Flights</a>
</body>
</html>
